<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

  <!-- spring profile 가져오기 -->
  <springProperty name="ACTIVE_PROFILE" source="spring.profiles.active" defaultValue="dev"/>

  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <!-- Logstash Appender -->
  <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>52.79.233.9:5001</destination>

    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"env":"${ACTIVE_PROFILE}"}</customFields>
    </encoder>

    <!-- 재시도 정책 -->
    <keepAliveDuration>5 minutes</keepAliveDuration>
    <reconnectionDelay>10000</reconnectionDelay>
  </appender>

  <!-- Console Appender -->
  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"env":"${ACTIVE_PROFILE}"}</customFields>
    </encoder>
  </appender>

  <!-- File Appender with Rolling Policy -->
  <appender name="LOG_JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/app-${ACTIVE_PROFILE}.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

      <!-- 하루 단위로 롤링 -->
      <fileNamePattern>logs/app-${ACTIVE_PROFILE}.%d{yyyy-MM-dd}.log</fileNamePattern>

      <!-- 최대 보관 기간 -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>

    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"env":"${ACTIVE_PROFILE}"}</customFields>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="LOGSTASH"/>
    <appender-ref ref="JSON_CONSOLE"/>
    <appender-ref ref="LOG_JSON_FILE"/>
  </root>
</configuration>
